doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    header
      .header__inner
        h1
          a Everything for you
        nav
          ul
            li
              a(href="") できること
            li
              a(href="") 制作物へのお約束
            li
              a(href="") 自己紹介
            li
              a(href="") 技術スタック
            li
              a(href="") お問い合わせ
    main
      section.mv
        img(src=require("../images/test.jpg"), alt="MV")


