@import 'reset'
@import 'theme'
@import 'mixin'
@import 'animation'
// @import 'loading-css'

@media screen and (min-width: 1000px)
  html
    font-size: 16px

@media screen and (max-width: 1000px)
  html
    font-size: 1.6vw

.m-br
  display: none

h1
  color: white
  font-size: 1rem
  font-weight: 400

h2
  color: $black
  font-size: size(32)
  font-weight: 400
  text-align: center

h3
  color: $gray
  font-size: size(20)
  line-height: 1.5

h4
  color: $gray
  font-size: size(14)
  font-weight: 400
  line-height: 1.5

small
  color: $black
  font-size: size(14)
  font-weight: 500

section
  padding: size(60) 0
  > h4
    text-align: center
    margin: size(25) 0 size(30)

body
  background-color: $beige
  font-family: $yuGothic

header
  width: 100%
  height: 70px
  background-color: $deepBlue
  position: fixed
  z-index: 5
  margin-top: -70px
  .inner
    width: 90%
    max-width: size(1000)
    height: 100%
    +flex()
    margin: 0 auto
    h1
      height: 100%
      a
        height: 100%
        +flex(center, center)
        color: white
        font-size: size(24)
        transition-duration: .4s
        opacity: 1
        &:hover
          transition-duration: .4s
          opacity: .5
    nav
      height: 100%
      ul
        height: 100%
        display: flex
        li
          height: 100%
          a
            height: 100%
            +flex(center, center)
            color: white
            font-size: size(15)
            margin: 0 size(20)
            position: relative
            &::after
              content: ''
              display: block
              position: absolute
              bottom: size(15)
              left: 0
              background-color: #fff
              width: 100%
              height: 2px
              transform: scaleX(0)
              opacity: 0
              transition-duration: .4s
            &:hover::after
              transform: scaleX(1)
              opacity: 1
              transition-duration: .4s
          &.contact
            +flex(center, center)
            padding: 0
            height: 60px
            margin: auto 0
            &:hover
              cursor: pointer
            a
              margin-right: auto
              height: size(50)
              background-color: white
              border: 2px solid white
              border-radius: size(20)
              +flex(center, center)
              color: $deepBlue
              padding: 0 size(25)
              transition-duration: .4s
              &:hover
                background-color: $deepBlue
                color: white
                transition-duration: .4s
              &::after
                display: none
    button
      display: none
main
  .mv
    height: calc(100vh - 70px)
    position: relative
    overflow: hidden
    padding: 0
    margin-top: 70px
    h2
      +absolute-center()
      color: rgba(27, 60, 89, 0.6)
      white-space: pre
      opacity: 1
      &#mv-text-2
        text-align: left
      &#mv-text-3
        text-align: left
        line-height: 1.5
      &.disappear
        transition-duration: 2s
        transition-delay: 1s
        opacity: 0
  .skill
    background-color: $lightBeige
    > h4
      text-align: center
    .cards
      width: 70%
      max-width: size(700)
      +flex(center, center)
      flex-wrap: wrap
      margin: 0 auto
      &[data-emergence=visible]
        article
          box-shadow: 12px 12px 24px #c7c2bd, -12px -12px 24px #ffffff
          transition-duration: .5s
          &:nth-last-of-type(4)
            transition-delay: .3s
          &:nth-last-of-type(3)
            transition-delay: .6s
          &:nth-last-of-type(2)
            transition-delay: .9s
          &:nth-last-of-type(1)
            transition-delay: 1.2s
      article
        width: 40%
        max-width: size(600)
        background-color: #EDE7E1
        box-shadow: none
        border-radius: size(50)
        padding: size(35) size(5) size(25)
        margin: size(25) size(12.5) 0
        transition-duration: .5s
          
        img
          width: 40%
          margin: 0 auto
        h3
          text-align: center
          margin: size(25) auto size(15)
        h4
          text-align: center
  .policy
    > h4
      text-align: center
    .cards
      width: 90%
      max-width: size(1000)
      margin: size(-30) auto 0
      article
        position: relative
        margin: size(60) 0 0
        padding-top: 1px
        &[data-emergence=visible]
          .card
            transition-duration: 1s
            transition-delay: 1s
            box-shadow: size(5) size(5) size(15) rgba(0, 0, 0, 0.2)
            &::before
              width: 0
              transition-duration: .5s
              transition-delay: .8s
            &::after
              width: 0
              transition-duration: .5s
              transition-delay: .5s
            h3
              opacity: 1
              transition-duration: 1.3s
        img
          width: auto
          height: size(300)
          position: absolute
        .card
          width: 70%
          background-color: white
          border-radius: size(35)
          position: relative
          z-index: 1
          box-shadow: none
          padding: size(60) size(30) size(20)
          margin-top: size(220)
          margin-left: auto
          overflow: hidden
          transition-duration: 1s
          &::before
            content: ""
            position: absolute
            top: 0
            right: 0
            width: 100%
            height: 100%
            background-color: $lightBeige
            display: block
            transition-duration: .5s
          &::after
            content: ""
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background-color: $beige
            display: block
            transition-duration: .5s
          h3
            position: relative
            z-index: 2
            margin-bottom: size(20)
            top: size(-10)
            right: 0
            opacity: 0
            transition-duration: .5s
          h4
            margin-bottom: size(47)
            span
              font-size: size(12)
          p
            position: absolute
            top: size(20)
            right: size(10)
            color: rgba(229, 216, 204, 0.33)
            font-size: size(90)
            font-weight: 400
            letter-spacing: 0.05em
            z-index: -1
            pointer-events: none
  .technology
    background-color: $lightBeige
    padding-bottom: size(350)
    position: relative
    h2
      position: relative
      z-index: 2
    h4
      position: relative
      z-index: 2
      padding-bottom: size(350)
    h3
      text-align: center
      line-height: 1
      // padding-bottom: size(350)
      position: relative
      z-index: 2
      a
        background-color: $beige
        display: inline-block
        border-radius: size(100)
        color: $black
        font-weight: 400
        padding: size(23) size(24)
    .bubbles
      font-size: 0
      text-align: center
      position: relative
      z-index: 2
      .box
        width: 100%
        height: size(700)
        position: absolute
        top: size(-350)
        background-color: $lightBeige
        mix-blend-mode: multiply
        z-index: 3
        pointer-events: none
      h5
        width: size(100)
        height: size(100)
        background-color: #fff
        border-radius: size(60)
        display: inline-block
        text-align: center
        font-size: size(14)
        line-height: size(100)
        // box-shadow: -20px -10px 50px 5px rgba(0, 0, 0, .4) inset
      .center
        +absolute-center()
        animation: 20s rotate linear infinite
        h5
          position: absolute
          color: white
          animation: 20s rotate linear infinite reverse
          &.html
            background-color: $html
          &.css
            background-color: $css
          &.javascript
            background-color: $javascript
        &:hover
          animation-play-state: paused
          h5
            animation-play-state: paused
      .round
        +absolute-center()
        transform-origin: center
        animation: 60s rotate linear infinite reverse
        h5
          color: white
          position: absolute
          animation: 60s rotate linear infinite
          &.babel
            background-color: $babel
          &.pug
            background-color: $pug
          &.sass
            background-color: $sass
          &.eslint
            background-color: $eslint
          &.webpack
            background-color: $webpack
          &.typescript
            background-color: $typescript
          &.postcss
            background-color: $postcss
          &.prettier
            background-color: $prettier
          &.parcel
            background-color: $parcel
          &.react
            background-color: $react
          &.vue
            background-color: $vue
        &:hover
          animation-play-state: paused
          h5
            animation-play-state: paused
    canvas
      position: absolute
      top: 0
      z-index: 1
  .contact
    position: relative
    form
      width: 90%
      max-width: size(1000)
      background-color: white
      border-radius: size(15)
      padding: size(50) size(45)
      margin: 0 auto
      &.disappear
        transition-duration: .5s
        transition-delay: .5s
        opacity: 0
        pointer-events: none
        padding: 0
        margin-top: -40%
      table
        width: 100%
        border-collapse: collapse
        tr
          td:nth-of-type(1)
            width: size(380)
            vertical-align: top
            color: $black
            font-size: size(16)
            padding-top: size(30)
          td
            position: relative
            select
              width: size(200)
              height: size(45)
              border: 1px solid $gray
              border-radius: size(15)
              color: $black
              font-size: size(16)
              padding-left: 1em
              margin: size(15) 0 size(10)
            .with-arrow
              position: relative
              &::after
                content: ''
                display: block
                position: absolute
                top: 50%
                left: size(170)
                transform: translateY(-30%)
                width: 0
                height: 0
                border-style: solid
                border-width: size(10) size(6) 0 size(6)
                border-color: $black transparent transparent transparent
                pointer-events: none
            input
              width: 100%
              height: size(45)
              border: 1px solid $gray
              border-radius: size(15)
              color: $black
              font-size: size(16)
              padding-left: 1em
              margin: size(15) 0 size(10)
            p
              color: $black
              font-size: size(15)
            textarea
              width: 100%
              height: size(300)
              border: 1px solid $gray
              border-radius: size(20)
              color: $black
              font-size: size(16)
              padding: size(16)
              margin: size(15) 0 size(10)
      .g-recaptcha
        div
          margin: size(40) auto size(10)
      button
        display: block
        background-color: $beige
        box-shadow: 13px 13px 53px #d6d6d6, -13px -13px 53px #ffffff
        border: 2px solid $beige
        border-radius: size(15)
        color: $black
        font-size: size(18)
        font-weight: 500
        padding: size(15) size(20)
        margin: size(45) auto 0
        transition-duration: .2s
        &:hover
          transition-duration: .2s
          background-color: white
          box-shadow: 0px 0px 0px #d6d6d6, 0px 0px 0px #ffffff
    p.thanks
      width: 100%
      text-align: center
      line-height: 1.5
      opacity: 0
      +absolute-center()    
      &.appear
        transition-duration: .5s
        transition-delay: 1.5s
        opacity: 1
  .introduction
    background-color: $lightBeige
    .inner
      width: 90%
      max-width: size(1000)
      margin: size(50) auto 0
      +flex()
      img
        width: 25%
      aside
        width: 70%
        table
          width: 100%
          border-collapse: collapse
          border-bottom: 1px solid $black
          tr
            height: size(50)
            border-top: 1px solid $black 
            td
              vertical-align: middle
              color: $black
              font-size: size(16)
              padding-left: size(12)
    .message
      width: 90%
      max-width: size(1000)
      margin: size(50) auto 0
      h3
        margin-bottom: size(20)
      h4
        line-height: 2
        font-size: size(15)
footer
  text-align: center
  padding: size(20) 0

@media screen and (max-width: 1200px)
  main
    .mv
      h2
        font-size: size(24)

@media screen and (max-width: 767px)
  .m-br
    display: inline
  h2
    font-size: size(65)
  h3
    font-size: size(50)
  h4
    font-size: size(35)
  section
    padding: size(150) 0
    > h4
      margin: size(40) 0 size(25)

  header
    .inner
      h1
        a
          font-size: size(50)
      nav
        position: absolute
        width: 100vw
        height: calc( 100vh - 70px )
        top: 70px
        left: 0
        background-color: $deepBlue
        visibility: hidden
        opacity: 0
        transition: .5s
        &.show
          visibility: visible
          opacity: 1
          transition: .5s
        ul
          flex-direction: column
          justify-content: center
          li
            height: 10vh
            a
              font-size: size(40)
            &.contact
              height: 10vh
              margin: 0
              a
                height: size(100)
                margin: 0
                padding: 0 size(40)
      button
        display: block
        background-color: #fff
  main
    .skill
      .cards
        width: 95%
        max-width: initial
        article
          width: 75%
          max-width: initial
          padding: size(120) size(5) size(55)
          margin: size(75) size(12.5) 0
          img
            width: 40%
          h3
            margin: size(60) auto size(20)
    .policy
      .cards
        width: 85%
        margin: 0 auto
        article
          margin: size(120) 0 0
          img
            width: 100%
            height: auto
            position: relative
          .card
            width: 100%
            margin-top: 0
            padding: size(120) size(50) size(20)
            h3
              margin-bottom: size(40)
          &:nth-of-type(3)
            img
              margin-bottom: size(20)
    .technology
      padding-bottom: size(500)
      h4
        padding-bottom: size(500)
      .bubbles
        h5
          width: size(150)
          height: size(150)
          border-radius: size(150)
          line-height: size(150)
        .box
          height: size(1000)
          top: size(-500)
    .contact
      form
        width: 85%
        margin-top: size(100)
        padding: size(100) size(45)
        table
          tr
            td
              display: block
              width: 100%
              &:nth-of-type(1)
                font-size: size(40)
                padding-top: 0
              select
                width: size(400)
                height: size(100)
                font-size: size(40)
                margin: size(30) 0 size(20)
              .with-arrow
                &::after
                  left: size(340)
                  transform: translateY(-30%)
                  width: 0
                  height: 0
                  border-style: solid
                  border-width: size(18) size(12) 0 size(12)
              input
                height: size(100)
                border-radius: size(15)
                font-size: size(40)
                margin: size(30) 0 size(20)
              p
                color: $black
                font-size: size(35)
                margin-bottom: size(80)
              textarea
                height: size(500)
                font-size: size(40)
                padding: 1em
                margin: size(30) 0 size(20)
        button
          width: 100%
          box-shadow: 13px 13px 53px #d6d6d6, -13px -13px 53px #ffffff
          border-radius: size(15)
          font-size: size(40)
          font-weight: 800
          padding: size(30) size(40)
          margin: size(10) auto 0
    .introduction
      .inner
        width: 85%
        flex-direction: column
        img
          width: 40%
          margin: size(40) auto
        aside
          width: 100%
          margin-top: size(60)
          table
            tr
              height: size(140)
              td
                font-size: size(40)
                line-height: 1.5
                padding-left: size(24)
      .message
        width: 85%
        margin-top: size(120)
        h4
          font-size: size(32)
          margin-top: size(40)